[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock
# The socket will inherit file descriptors by socket activation.
SocketUser=root
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
